.Calculator{
	width: 20rem;
	height: 30rem;
	position: fixed;
	left: 20%;
	border: 2px solid green;
}
.head h3{
	padding: 0;
	margin:0;
}
.head{
	width: 19rem;
	height: 3rem;
	position: relative;
	font-family: sans-serif;
	color: white
	background-color: blue;
	text-align: center;
}

.input{
	position: fixed;
	top: 3rem;
	width: 19rem;
	height: 6rem;
	font-family: sans-serif;
	text-align: right;
	border-radius: 5%;
	margin: 0rem 0.3rem;
	border: 3px solid green;
}

.input>#display{
	font-family: sans-serif;
	font-size: 1rem;
}
.button{
	display: grid;
	grid-gap: 7px;
	position: fixed;
	top: 9.5rem;
	width: 20rem;
	height: 20.5rem;
	grid-template-columns: 23% 23% 23% 23%;
}

.number{
	display: inline-block;
	width: 4.5rem;
	height: 3.5rem;
	border: 1px solid red;
	border-radius: 10%;
	font-family: sans-serif;
	font-size: 20px;
	text-align: center;
}