

.Calculator {
  width: 330px;
  height: 550px;
  display: flex;
  border: 3px solid #66fcf1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 35%;
  margin-top: 5%;
  border-radius: 20px;
  background-color: #1f2833;
}

.head {
  width: 19rem;
  height: 3rem;
  font-family: sans-serif;
  color: #c5c6c7;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  font-size: 25px;
  font-weight: bold;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 3rem;
  width: 95%;
  height: 140px;
  font-family: sans-serif;
  text-align: right;
  border-radius: 10px;
  margin: 0rem 0.3rem;
  background-color: #c5c6c7;
  border: 3px solid #66fcf1;
}

.input > #display {
  font-family: sans-serif;
  font-size: 1rem;
}
.button {
  display: grid;
  grid-gap: 7px;
  top: 9.5rem;
  width: 100%;
  height: 20.5rem;
  grid-template-columns: 22% 22% 22% 22%;
  margin-top: 10px;
  margin-left: 15px;
}

.number {
  display: inline-block;
  width: 4.5rem;
  height: 3.5rem;
  border: 1px solid red;
  background-color: #66fcf1;
  border-radius: 10%;
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}
